{% extends 'layout.html' %}

{% block content %}
    <div class = "content-section">
        <!--action empty means post this to the same route-->
        <form method="POST" action="">
            <!--need this to validate the form, otherwise wont-->
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <!--The <legend> tag defines a caption for the <fieldset> element.-->
                <!--The <fieldset> tag is used to group related elements in a form.-->
                <legend class="border-bottom mb-4 pb-1">Please Enter Your Email</legend>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-lg") }}
            </div>
        </form>
    </div>
{% endblock content%}